 *{
    box-sizing: border-box;
 }

@keyframes animated-gradient{
   0%{
      background-position-x: 0%;
   }
   100%{
      background-position-x: 100%;
   }
}

 body{
    margin: 0;
    font-family: sans-serif;
    color: #fff; 
    background-image: linear-gradient(230deg, #7C3AFD, #4034E3, #476CFA, #3AC7FD, #7C3AFD);
    background-size: 500% 100%;
    animation: animated-gradient s infinite alternate;
 }

 .border{
    border: 1px solid red;
 }

 .sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 160px;
    height: 100%;
    padding: 40px 8px 30px 8px;
    border-right: 1px solid #2f3336;
    transition: all 0.35s;
    background-color: #1f1a31;
    box-shadow: 0 8px 16px 9px #32325d40;
    opacity: 0.975;
 }

 .sidebar-header{
    width: 100%;
    margin-bottom: 16px;
 }

 .logo-img{
    width: 40px;
    max-height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
    margin-left: 10px;
 }

 .logo-img:hover{
    transform: scale(1.5);
 }

 .sidebar button{
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
 }

 .sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;  
    height: 46px;
    padding: 0 20px 0 19px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
 }

 .sidebar button:hover > span {
    background: rgba(255, 255, 255, 0.07);
 }

 .sidebar button i {
    position: relative;
    font-size: 25px;
    transition: 0.2s;
 }

 .sidebar button span{
    font-size: 13px;
 }

 .sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%; 
 }

 .main{
   align-items: center;
   margin-left: 179px;
   margin-right: 6px;
   overflow: hidden; 
   color: #fff;
 }

 h1 {
   font-weight: 400;
   font-size: 64px;
   line-height: 120px;
   font-weight: 400;
   font-size: 64px;
   line-height: 120px;
   text-align: center;
   float: center;  
   margin: 40px;
   
 }

 p {
   margin-right: 60px;
   border-radius: 23px;
   text-align: justify;
   display: inline-block;
   font-weight: 500;
   font-size: 18px;
   line-height: 30px; 
   margin: 8px;
   text-indent: 20px;
   padding: 30px;
   border: solid;
   border-width: 1px;
   border-color: rgba(24, 30, 70, 0.1);
   background-color: rgba(24, 30, 70, 0.5);
   box-shadow: 0 13px 27px -5px #32325d40,0 8px 16px -8px #0000004d,0 -6px 16px -6px #00000008;
}

 .btn-sidebar-icon {
     display: none;
 }

 .button-mobile {
   display: none;
 }

 .showSidebar {
   display: none;
}

 /* Ajustando sidebar com apenas os icones */
 @media (max-width: 850px){
    .sidebar{ 
    width: 84px;
    
    
    }

    .sidebar button > span{
      width: 63px;
    }

    .sidebar button > span > span{
      opacity: 0;
      content: none;
   }

    .main{
      margin-left: 92px;
      transition: margin 0.3s;
    }
}

@media (max-width: 574px){
   .sidebar{
      display: none;
   }

   .main {
      margin-left: 20px;
   }
   
   .button-mobile {
      display: flex;
      height: 60px;
      background: transparent;
      border: 0;
      font-family: inherit;
      color: inherit;
      cursor: pointer;
      text-align: center;
      padding: 0;
      color:#fff;
      margin: 10px 15px 20px 33px;
   }

   .mobile-text{
      margin: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 15px;
      color: #fff;
      border: 0px;
   }

   .button-close {
      background-color: transparent;
      border: 0;
      color: #fff;
      padding: 0;
      display: flex;
      align-items: center;
      margin: 0 0 20px 30px;
      cursor: pointer;
   }

   .showSidebar {
      position: absolute;
      flex-direction: column;
      display: block;
      top: 0;
      background-color: #1f1a31;
      height: 250%;
      width: 25%;
      border: 0;
      padding: 30px;
      
      margin-left: -30vw;   
      z-index: 2;  
      box-shadow: 0 8px 16px 8px #0000004d; 
      transition: 0.5s linear;
      opacity: 0.975;
   }
   
}

